* {
    margin: 0;
}
/* font */
@font-face{
    font-family: 'lemonmilk';
    src: url("../assents/lemon_milk/LEMONMILK-Bold.otf");
}
/* font */
/* header */
.primary{
    position: relative;
    margin-left: 15%;
    background-color: aqua;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
/* logo */
#logo{
    text-transform: uppercase;
}
/* logo */
/* link */
.linkD{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}
@media (max-width: 1200px){
    .linkborder{
        display: none;
    }
}
/* link */
/* Search */
#Search{
    position: relative;
    display: flex;
    border: none;
    background-color: #f1f1f1;
    border-radius: 20px;
    height: 30px;
    width: 320px;
}
#iconLupa{
    width: 30px;
    position: absolute;
    top: 21px;
}
@media(max-width: 800px){
    .pesquisa{
       display: none;
    }
}
/* Search */
/* login e compra */
.iconLoginComprar{
    width: 30px;
}
@media(max-width: 800px){
    .loginComprar{
        display: none;
    }
}
/* login e compra */
.menu {
    display: none; /* Inicialmente oculto */
}

@media (max-width: 800px) {
    .menu {
            display: block;
            /* Botão visível em telas pequenas */
        }
        .itens {
            overflow: auto;
            z-index: 1;
            position: absolute;
            margin-top: 9%;
            margin-left: -39%;
            display: inline-grid;
            background-color: #f1f1f1;
            padding: 20px;
        }
        #btnMenu {
            font-size: 20px;
        }
        .linkMenu {
            text-decoration: none;
            list-style: lower-roman;
            position: relative;
            top: 10px;
            color: black;
        }
        #inputMenu{
            display: flex;
            background-color: #ffffff;
            border: none;
            border-radius: 12px;
        }
        #btnMenu_pesquisa{
            position: relative;
            top: 8px;
            border: none;
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow:0px 3px 0.3rem 0.1rem rgb(122, 122, 122);
        }
}

/* botão */
/* header */
/* main */
.banner{
    position: relative;
    margin-left: 15%;
    background-color: rgb(4, 0, 245);
    width: 70%;
}
/* main */