* {
    margin: 0;
}
/* font */
@font-face{
    font-family: 'lemonmilk';
    src: url("../assents/lemon_milk/LEMONMILK-Bold.otf");
}
/* font */
/* header */
.headerPrimary {
    display: flex;
}
.logoPrincipal{
    font-family: 'lemonmilk';
}
/* link */
.linkes {
    display: flex;
    align-items: center;
    position: relative;
    left: 1%;
}

.linkD {
    text-decoration: none;
    color: #000000;
    padding-left: 10px;

}

.linkesDiretos {
    position: relative;
    left: 1%;
}

/* link */
/* Search */

#Search {
    width: 500px;
    height: 30px;
    border: none;
    background-color: #dbdbdb;
    border-radius: 50px;
    position: relative;
    top: -5px;
    transform: translateX(70%);
}

#iconLupa {
    width: 30px;
    position: relative;
    top: 6px;
    left: -27%;
    transform: translateX(-30%);
}

/* Search */
/* login e compra */
.loginComprar {
    position: relative;
    left: 40%;
    transform: translateX(-40%);
}

.iconLoginComprar {
    width: 30px;
}

/* login e compra */
/* header */