#as{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 6px;
}
#img_02{
    height: 215px;
}
#img_03{
    height: 215px;
}
.container{
    margin-left: 68%;
    transform: translateX(-68%);
    text-align: center;
}
.button{
    background-color: blueviolet;
    border-radius: 5px;
    border-color: rgb(255, 0, 170);
    color: aliceblue;
}
.form-control me-2{
    border: blueviolet;
}
.navbar-brand{
    margin-top: -4px;
}
footer{
    background-color: rgb(22, 22, 22);
    color: #ffffff;
    height: 40px;
}
#footere{
    position: relative;
    margin-top: 12px;
    padding-left: 41%;
    padding-top: 10px;
}
